<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="game-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :secret %>
    <%= text_input f, :secret %>
    <%= error_tag f, :secret %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
