<div>
  <h2>Enter Guess</h2>

  <.form
    :let={f}
    for={@changeset}
    id="guess-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="place">
  
    <%= label f, "Your guess" %>
    <%= text_input f, :word, autofocus: true %>
    <%= error_tag f, :word %>
  
    <div>
      <%= submit "Guess", phx_disable_with: "Guessing...", disabled: !@changeset.valid? %>
    </div>
  </.form>
</div>
