<div>
  <h2>Enter Guess</h2>

  <.form
    :let={f}
    for={@changeset}
    id="guess-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="place">
  
    <%= label f, "Your guess" %>
    <.focus_wrap id="guess_input">
        <%= text_input f, :word, autofocus: true %>
        <%= error_tag f, :word %>

        <%= submit "Guess", phx_disable_with: "Guessing...", disabled: !@changeset.valid? %>
    </.focus_wrap>
  </.form>
</div>
